<!DOCTYPE html> 
<html lang="fr"> 
	<head> 
		<meta charset=utf-8 /> 
		<title>ODGE</title>
		<script src="odge.js"></script>
		<script src="demo128.js"></script>
		<link rel="stylesheet" href="demo128.css">
	</head>
	
	<body>
		<canvas width="200" height="200" style="position:fixed;z-index:-1;">
			<p>Votre navigateur n'est pas compatible avec ODGE.</p>
			<p>Les navigateur dont la compatibilité a été vérifiée sont:</p>
				<ul>
					<li><a href="http://www.google.fr/chrome">Chrome 5.0+</a></li>
					<li><a href="http://www.mozilla-europe.org/firefox/">Firefox 3.6+</a></li>
					<li><a href="http://www.opera.com/">Opera 10.5+</a></li>
					<li><a href="http://www.apple.com/safari/">Safari 5.0+</a></li>
				</ul>
			<p>Des versions plus anciennes peuvent éventuellement être compatibles. Pensez tout de même à mettre à jour votre navigateur.</p>
			<p>La meilleur expérience de jeu est obtenue avec <a href="http://www.google.fr/chrome">Chrome</a> ou <a href="http://www.opera.com/">Opera</a>.</p>
		</canvas>
	</body>
</html>
